*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
body {
    transition: 0.5s;
    background-color: #bebebef5;
}
.content-center{
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 20px;
}
.content-center{
    margin-top: 9em;
    
}
.content-center{
    transition: 0.5s;
    background-color: #fffafad0;
    border-radius: 20px;
}
.content-center .text-center {
    text-align: center;
}
.content-center a{
    font-weight: lighter;
    display: block;
    margin: 15px 0px;
}
.content-center a{
    text-decoration: none;
    color: #0051ff;
    font-size: 15px;
}
.content-center a:visited{
    color: #0051ff;
}
.content-center img {
    max-width: 50%;
    animation: zoom  ease-in 1s;
}
.content-center form{

    padding: 20px;
}
.content-center input{
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
   
}
.content-center input:focus{
    outline: none;
    border-bottom: 2px solid ;
    animation: bottom alternate infinite 3s;
} 

   
.content-center .passw{
    margin-top: 10px;
}
.content-center button{
    width: 70%;
    padding: 10px;
    background-color: #6acf0ac2;
    border-radius: 10px;
    border: none;
}
.content-center button:hover{
    cursor: pointer;
    background-color: #488f06c2;
}
.content-center button:active{
    cursor: pointer;
    background-color: #03aa0bc2;
}
footer p {
    text-align: center;
    margin-top: 20px;
    color: #0051ff;
}
  

@keyframes bottom {
    from{
        color: #6acf0ac2;
    }
    to{
        color: #0051ff;
    }
}
@keyframes zoom {
    from{
        width: 0%;
    }
    to {
        width: 50%;
    }
}
.moon {
    position: fixed;
    right: 0;
    top: 0;
    margin: 30px;
}
.moon img{
    width: 20px;
    height: 20px;
}
.moon{
    transition: 0.5s;
    animation: alternate ease-in 0.5s surgimento-moon;

}

.sun{
    position: fixed;
    top:0;
    right: 0;
    margin:28px 20px;
}
.sun img{
    width: 40px;
    height: 30px;
}
.sun{
    display: none;
}

.moon.active{
    animation: alternate-reverse ease-out 0.5s surgimento-sun;
    
}
.sun.active{
    display: block;
    transition: 0.5s;
    animation: alternate ease-in 0.5s surgimento-sun;
}

.moon.disable{
    display: block;
}
.sun.disable{
    animation: alternate-reverse ease-out 0.5s surgimento-sun;
    right: -100;
}
.content-center.active{
    transition: 0.5s;
    background-color: rgba(37, 36, 36, 0.925);
    box-shadow: 5px 4px 18px rgb(13, 1, 43) ;
}
body.active{
    transition: 0.5s;
    background: #000;
}





@keyframes surgimento-moon {
    0%{
        margin: 0;
    } 
    50%{
        margin: 10px;
    }   
    75%{
        margin: 20px;
    }
    100%{
        margin: 30px;
    }
} 
    
@keyframes surgimento-sun {
    0%{
        margin: 0px;
    } 
    50%{
        margin: 20px 20x;
    }   
    75%{
        margin: 28px 20px;
    }
    100%{
        margin:28px 20px;
    }
} 
    
.iori{
    width: 100px;
    height: 60px;
    background-image: url(/src/io-max.webp);
    background-position: 0%;
    background-size: cover;
    display: none;
}
.iori.selected{
    display: block;
}
.slug{
    width: 120px;
    height: 70px;
    background-image: url(/src/slug.gif);
    background-position: 0%;
    background-size: cover;
    display: none;
}
.slug.selected{
    display: block;
}
.btn{
    display: flex;
    justify-content: center;
}
#btn-submit {
    text-decoration: none;
    color: aliceblue;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #6acf0ac2;
}